<!DOCTYPE html>
<html>
<title>YouMadeIt Page</title>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="secret">
    <img src="">
    <form action="/logout" method="post">
      <div class="login">
        <button><span>Log Out</span></button>
      </div>
    </form>
  </div>
</body>

</html>
