<!DOCTYPE html>
<html>
<title>YouMadeIt Page</title>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="secret">
    <img src="https://s-media-cache-ak0.pinimg.com/originals/23/37/17/2337174f9b4b1688fbaf73543c72c24b.png">
    <form action="/logout" method="post">
      <div class="login">
        <button><span>Log Out</span></button>
      </div>
    </form>
  </div>
</body>

</html>
