<!DOCTYPE html>
<html>
<title>Goodbye Page</title>

<head>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="logout">
    <h2 class="goodbye-msg">You have logged out</h2>
    <img src="">
    <form action="/login" method="get">
      <div class="login">
        <button><span>Log in...!<span></button>
      </div>
    </form>
  </div>
</body>

</html>
